#comment
{
	margin-top : 40px ;
	background-color : #FFE382 ;
	padding : 30px ;
	width : 454px ;
	margin-left : 429px ;
}


#comment_search
{
	margin-top : 40px ;
	background-color : green ;
	padding : 30px ;
	width : 454px ;
	height : 48px ;
	margin-left : 429px ;
}

BODY
{
	background-color : #ABA185;
}

.headeraccueil
{
	border : 2px solid black ;
	font-size : 41px ;
	width : 176px ;
	margin-left : 70px ;
	margin-top : 0px ;
	position : absolute ;
	
}

.headeraccueil_prb
{
	border : 2px solid black ;
	font-size : 41px ;
	width : 176px ;
	margin-left : 70px ;
	margin-top : 37px ;
	position : absolute ;
	
}

#menu { 
width : 349px; 
height : 94px;
margin : 2em 0 0 0;
padding : 0;
background-color : #f4f9fd;
border : 1px dashed black;
list-style-type : none; 
position : absolute ;
margin-top : 123px ;
}
 
#menu li {
padding : 0 0.5em;  
line-height : 30px;
}
 
#form_rechercher
{
	text-align : center ;
	margin-top : 39px ;
}

#contenu_directeur
{
	margin-left : 415px ;
	width : 497px ;
	margin-top : 84px ;
	background-color : #FFE382 ;
	padding : 22px ;
	position : absolute ;
}