body{
	background:url(../images/shield.jpg) top center no-repeat;
	background-size:cover;
	color:#fff;
}

table{
	width:auto;
	border: 1px solid #eee;
	border-spacing: 5px;
}
table th{
		padding: 10px;
		background: rgba(86,61,124,.15);
		font-weight: bold;
}
table td{
		
		padding: 10px;
		
}
.impair{
		background: #eee;
}

.pair{
		background: #ccc;
}

.avatar{
	width:140px;
}

h1{
	font-size:1.8em;
}
