* {
	margin : 0;
	padding : 0;
	font-family : 'Roboto', sans-serif ; 
}

a
{
	text-decoration : none ;
}

/***** HEADER *****/

HEADER h1 {
	margin: 50px auto 0 auto;
	text-align: center;
	color: #5c5c5c;
	font-size: 90px;
}

HEADER h2 {
	margin: 50px auto 0 auto; 
	color: #5c5c5c;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	margin-top: 81px;
}

/***** INDEX *****/

h3 {
	color: #fff;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	width : 250px;
	height : 200px;
	line-height : 190px;
}

.specialh3{
	color: #fff;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	margin-top: 50px;
	width : 200px;
	height : 150px;
	line-height : 140px;
}

#wrapper {
	height: 360px;
	margin-top: 50px;
}

.box {
height : 360px;
float : left;
width : 33%;
}

#btn_presentation {
	color: #5c5c5c;
	background-color: #FF1A40;
	width: 200px;
	height: 150px;
	border-radius: 10px;
	margin : 200px auto 0 auto;
}

#btn_connexion {
	color: #5c5c5c;
	background-color: #FF1A40;
	width: 250px;
	height: 200px;
	border-radius: 10px;
	margin : 160px auto 0 auto;
}

#btn_inscription {
	color: #5c5c5c;
	background-color: #FF1A40;
	width: 200px;
	height: 150px;
	border-radius: 10px;
	margin : 200px auto 0 auto;
}

/***** AUTRE*****/

#wrapper #btn_recherche {
	color: #5c5c5c;
	background-color: #3CCF26;
	width: 200px;
	height: 150px;
	margin-top: 200px;
	margin-left: 225px;
	float: left;
	border-radius: 10px;
}

#wrapper #btn_moncompte {
	color: #5c5c5c;
	background-color: #3CCF26;
	width: 250px;
	height: 200px;
	margin-left: 400px;
	margin-right: 400px;
	float: left;
	margin-top: 160px;
	border-radius: 10px;
}

#wrapper #btn_deconnexion {
	color: #5c5c5c;
	background-color: #3CCF26;
	width: 200px;
	height: 150px;
	margin-top: 200px;
	float: left;
	border-radius: 10px;
}
#wrapper #encart_connexion {
	color: #5c5c5c;
	background-color: #14B0E8;
	width: 650px;
	height: 200px;
	margin: 100px auto 0 auto;
	margin-top: 160px;
	border-radius: 10px;
}

#wrapper #encart_inscription {
	color: #5c5c5c;
	background-color: #14B0E8;
	width: 450px;
	height: 400px;
	margin: 100px auto 0 auto;
	margin-top: 160px;
	border-radius: 10px;
}

#wrapper #encart_presentation {
	color: #D5E6FF;
	background-color: #14B0E8;
	width: 750px;
	height: 500px;
	margin: 100px auto 0 auto;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

#wrapper #encart_recherche {
	color: #5c5c5c;
	background-color: #14B0E8;
	width: 650px;
	height: 200px;
	margin: 100px auto 0 auto;
	margin-top: 160px;
	border-radius: 10px;
}

#wrapper #encart_moncompte {
	color: #D5E6FF;
	background-color: #14B0E8;
	width: 750px;
	height: 500px;
	margin: 100px auto 0 auto;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

#connexion_mail {
	margin-left: 30px;
	margin-top: 85px;
	height: 35px;
	width: 250px;
}

#connexion_password {
	margin-right: 30px;
	margin-top: 85px;
	height: 35px;
	width: 250px;
	float: right;
}

#connexion_submit {
	margin-left: 290px;
	margin-top: 30px;
	height: 25px;
	width: 70px;
}

#inscription_pseudo {
	margin-left: 90px;
	margin-top: 85px;
	height: 35px;
	width: 250px;
}

#inscription_mail {
	margin-left: 90px;
	margin-top: 40px;
	height: 35px;
	width: 250px;
}

#inscription_password {
	margin-left: 90px;
	margin-top: 40px;
	height: 35px;
	width: 250px;
}

#inscription_submit {
	margin-left: 180px;
	margin-top: 30px;
	height: 25px;
	width: 70px;
}

#barre_recherche {
	margin-left: 30px;
	margin-top: 85px;
	height: 35px;
	width: 550px;
}

#recherche_submit {
	height: 35px;
	width: 40px;
}

#btn_ajouter {
	color: #5c5c5c;
	background-color: #FF1A40;
	width: 250px;
	height: 200px;
	border-radius: 10px;
	margin : 160px auto 0 auto;
	padding : 40px ;
}

#btn_ajouter input{
	margin-left : 30px ;
}

#ajout_livreh3 {
	color: #fff;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	width : 250px;
	height : 106px;
	line-height : 190px;
	margin-top : -80px ;
}

	